*{
margin:0;
box-sizing:border-box;
font-family:system-ui;
}

body{
background:#000;
color:white;
}

.topbar{
display:flex;
align-items:center;
padding:15px;
border-bottom:1px solid #222;
}

.logo{
width:36px;
margin-right:10px;
}

.cart{
margin-left:auto;
font-size:22px;
text-decoration:none;
}

.hero{
padding:40px 20px;
text-align:center;
}

.hero h1{
font-size:26px;
}

.hero p{
opacity:.7;
margin-top:10px;
}

.title{
padding:0 20px;
margin-bottom:10px;
}

.products{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(160px,1fr));
gap:15px;
padding:20px;
}

.product{
background:#111;
padding:10px;
border-radius:15px;
text-align:center;
}

.product img{
width:100%;
border-radius:10px;
}

.product button{
background:red;
border:none;
color:white;
padding:10px;
width:100%;
border-radius:10px;
margin-top:8px;
}

.product:hover{
transform:scale(1.03);
transition:.2s;
}
